body {
  margin: 0px;
}


#game_grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  border: 2px tomato solid;
  margin: auto;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: all;
  transition-duration: 1s;
}

img {
  width: 100%
}

.front_face,
.back_face {
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.front_face {
  transform: rotateY(180deg);
}

.dark-theme {
  background-color: #222;
  color: #fff;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#theme-toggle-btn {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

